Importing libraries and dataset

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df=pd.read_csv('50_Startups.csv')

Exploring the dataset

In [37]:
df.shape

(50, 5)

In [38]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [40]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [41]:
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

Converting categorical data into numerical data

In [42]:
state_num=pd.get_dummies(df['State'],drop_first=True)

Selecting features for X and Y

In [43]:
X=df.iloc[:,0:3]

In [44]:
Y=df.iloc[:,4]

In [45]:
X=pd.concat([X,state_num],axis=1,ignore_index=True)

In [46]:
X.head()

           0          1          2  3  4
0  165349.20  136897.80  471784.10  0  1
1  162597.70  151377.59  443898.53  0  0
2  153441.51  101145.55  407934.54  1  0
3  144372.41  118671.85  383199.62  0  1
4  142107.34   91391.77  366168.42  1  0

Splitting data into train and test set

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.25)

Fitting Simple Linear Regression Model to train set

In [48]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

Prediction of Y

In [49]:
Y_pred=regressor.predict(X_test)

Finding mean squared error

In [50]:
from sklearn.metrics import mean_squared_error
from numpy import math
math.sqrt(mean_squared_error(Y_test, Y_pred))

8232.09377252413

Finding r2 score

In [51]:
from sklearn.metrics import r2_score
score=r2_score(Y_test, Y_pred)
print(score)

0.960905873862994